# Editor and IDE specific files
.idea/
.vs/
*.sln.DotSettings.user

# C# build directories
obj/
bin/

# Aspire
.aspire/

# Python specific
.venv/
__pycache__/


# Ignore generated source files
*.g.cs

# Artifacts
artifacts/
packages/